.nav-menu a{
	font-size: large;
}

.nav-menu-container{
	display: flex;
}

.nav-menu{
	display: flex;
	flex-direction: row;
}

.nav-menu li{
	padding: 10px;
	list-style-type: none;
}

.nav-menu a{
	color: white;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #666;
}

.back-img{
	background: url(img/header-bg.jpg) center;
	background-size: cover;
	
}

header{
	display: flex;
	justify-content: center;	
}

.logo{
	display: flex;
	margin-top: 20px;
}

.container-banner{
	padding-left: 300px;
	position: relative;
	width: 100%;
	margin-top: 250px;
	margin-left: 100px;
}

.container-banner h6{
	font-size: 20px;
	color: white;
	
}

.container-banner h1{
	display: flex;
	font-size: 50px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.2;
}

.butt{
	margin-top: 35px;
	background-color: white;
	border: solid 1px white;
	color: black;
	padding: 8px 42px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 15px;
}

.butt a{
	color: black;
	font-size: 15px;
}

.butt a:hover{
	color: white;
	transition: 1s;
}

.butt:hover{
	background: none;
	cursor: pointer;
	color: white;
	border: solid 1px;
	transition: 1s;
}

@media screen and (width: 412px) { 
	.back-img{
		width: 100%;
	}

	#header{
		display: flex;
		flex-direction: column !important;
		align-items: center;
	}
	
	.nav-menu{
		display: flex;
		flex-direction: column !important;
	}

	.container-banner{
		display: flex;
		flex-direction: column;
		padding: 0px;
	}

	.container-banner h6{
		font-size: 0px;
	}

	.container-banner h1{
		font-size: 25px;
	}

	.livecontent{
		flex-direction: column;
		padding-left: 10px;
	}

	.livecontent img{
		width: 395px;
	}

	.card_product{
		display: flex;
		flex-direction: column;
		
	}

	.card_product2{
		display: flex;
		flex-direction: column;
		margin-top: -200px !important;
	}

	.blog_content{
		flex-direction: column !important;
		align-items: center;
	}

	.blog_content img{
		width: 350px;
	}

	.blog_img_first{
		padding-right: 0px !important;
	}

	.mainDivFooter{
		flex-direction: column !important;
		align-items: center;
	}

	.footerA{
		padding-right: 0px !important;
	}

	.social{
		padding-top: 40px;
	}
}