.zag{
	display: flex;
	justify-content: center;
}

.zag h1{
	color: white;
	font-size: 50px;
}

.section_about{
	padding-top: 150px;
}

.div_first_about{
	background: #9d744e;
}

.img_about_one{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	padding-top: 140px;
	background: #9d744e;
	
}

.review_text{
	width: 700px;
    padding-right: 250px;
}

.review_text p{
	color: white;
	font-size: 30px;
	padding-left: 30px;
	line-height: 1.5;
	
}

.review_img_one{
	padding-right: 230px;
	height: 450px;
	padding-bottom: 100px;
}

.img_about_second{
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.div_second_about{
	padding-top: 140px;
}

.review_img_second{
	height: 450px;
}

.review_text_second{
	width: 700px;
	padding-left: 250px;
}

.review_text_second p{
	color: black;
	font-size: 30px;
	line-height: 1.5;
	padding-right: 30px;
	padding-top: 65px;
}