.card_product2{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.Showmenu2{
	display: flex;
	margin-left: 100px;
}


.Showmenu{
	display: flex;
	margin-left: 100px;
	margin-top: 250px;

}

.card_product{
	display: flex;
	justify-content: center;
	
}

.card{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.product_img{
	height: 185px;
	width: auto;
}

.buy_case{
	margin-top: 20px;
	text-decoration: none;
	padding: 8px 32px;
	border-radius: 15px;
	border: solid 1px white;
	background-color: #d9b78a;
	cursor: pointer;
	font-size: 15px;
}

.buy_case:hover{
	background-color: white;
	border: solid 1px #d9b78a;
	transition: 1s;
}

